* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color:rgb(235, 232, 232);

}
.App{
margin: auto;
width: 30%;
}
img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.upper-part {
  display: flex;
  margin: 15px;
}

li{
  list-style: none;
  padding-top: 10px;
  margin-left: 25px;
}